@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";


@layer base {
  * {
    @apply text-neutral-900;
  }

  html,
  body {
    @apply min-h-screen bg-neutral-100 font-[inter] overscroll-none;
  }

  input,
  textarea,
  select {
    all: unset;
    box-sizing: border-box;
    font: inherit;
    color: inherit;
  }
}

.recipe-markdown h1 {
  @apply text-2xl font-bold mt-8 mb-4;
}

.recipe-markdown h2 {
  @apply text-xl font-semibold mt-6 mb-3 border-b border-neutral-200 pb-2;
}

.recipe-markdown p {
  @apply mb-4 leading-relaxed text-neutral-700;
}

.recipe-markdown ul {
  @apply list-disc pl-6 mb-6 space-y-2;
}

.recipe-markdown li {
  @apply text-neutral-600;
}