*{
  margin: 0;
  box-sizing: border-box;
}

:root{
  --white: #FFFFFF;
  --offwhite: #FAFAF8;
  --background: #E8E8E8;
  --grey: #6B7280;
  --black: #141413;
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Inter, sans-serif;
}

header {
  background-color: var(--white);
  width: 100%;
  max-width: 720px;
  height: 80px;
  justify-content: center;
  display: flex;
  align-items: center;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}
.logo{
  width: 43px;
  height: 51px;
}

.heading{
  font-size: 28px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -5%;
  line-height: 60px;
}

.App{
  width: 594px;
  background-color: var(--offwhite);
  height: max-content;
}
main {
  display: flex;
  justify-content: center;
  background-color: var(--offwhite);
  min-height: 150px;
  align-items: center;
  flex-direction: column;
}

.add-ingredient-form{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  gap: 10px;
}

form > input{
  all: unset;
  display: inline-block;
  height: 32px;
  width: 310px;
  background-color: var(--white);
  font-size: 12px;
  justify-content: flex-start;
  border: .5px solid var(--grey);
  padding: 10px;
  box-sizing: border-box;
  corner-shape: squircle;
  border-radius: .5rem;
}

form > input:focus{
  border: 2px solid var(--white);
}

input::placeholder{
  opacity: .5;
}


form > button{
  all: unset;
  font-size: 12px;
  font-weight: 500;
  width: 140px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  color: var(--white);
  corner-shape: squircle;
  border-radius: .5rem;
  font-weight: 600;
}

button::before{
  content: "+";
}
ul{
  width: 80%;
  margin: 20px;
  display: flex;
  align-items: flex-start;
  flex-direction: column-reverse;
}
.delete{
  color: rgb(255, 21, 21);
  font-size: .7rem;
  opacity: 0;
  margin-left: 3px;
  transition: .2s ease-out .2s;
  align-items: center;
}
li{
  cursor: pointer;
}
li:hover .delete{
  opacity: 1;
}
